@import url('./fonts.css');

:root {
    --background-neutral: #fefdfc;
    --azure: #007bffff;
    --celeste: #c5fffdff;
    --non-photo-blue: #88d9e6ff;
    --tea-rose-red: #cfb1b7ff;
    --desert-sand: #e4be9eff;
}

html {
    background-color: var(--background-neutral);
}

body {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.bree {
    font-family: 'Bree Serif';
}

.mont {
    font-family: 'Montserrat';
}

.robo {
    font-family: 'Roboto';
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-divider {
    background-color: rgba(37, 34, 30, .2);
    block-size: 24px;
    border: none;
    inline-size: 3px;
    margin: 0 20px 0 20px;
}

.nav-links,
.nav-links ul,
.nav-logos {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 75%;
    background-color: var(--background-neutral);
}

nav ul {
    padding: 5px;
}

.logo-img {
    max-width: 40px;
}

.logo-text {
    font-size: 36px;
    color: var(--azure);
}

nav button {
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: var(--background-neutral);
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

nav button:hover {
    background-color: var(--desert-sand);
    transform: scale(1.05);
}

nav button:active {
    transform: scale(0.95);
}

nav ul:last-of-type li:last-of-type button {
    background-color: var(--azure);
}

nav ul:last-of-type li:last-of-type button:hover {
    background-color: rgba(0, 123, 255, 0.8);
}

.searchBar {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(207, 177, 183, 0.502);
}

.searchBar input {
    flex: 1;
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: var(--tea-rose-red);
    outline: none;
    height: 20px;
    padding-left: 5px;
}

.searchIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: var(--tea-rose-red);
}

.heroSection {
    width: 50%;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: 90vh;
    background-color: var(--celeste);
}

.projects {
    background-color: var(--tea-rose-red);
    min-height: 100%;
}

.todos {
    background-color: var(--desert-sand);
    min-height: 100%;
}