@import url('./fonts.css');

.bree {
    font-family: 'Bree Serif';
}

.mont {
    font-family: 'Montserrat';
}

.robo {
    font-family: 'Roboto';
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-divider {
    background-color: rgba(37,34,30,.2);
    block-size: 24px;
    border: none;
    inline-size: 3px;
    margin: 0 40px 0 40px;
}

.nav-links, .nav-links ul {
    display: flex;
    list-style: none;
    gap: 5px;
}